<!-- 仓库管理员信息管理页面 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-table.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../css/mainPage.css">
	<!-- 如果不加下面两个js，BootStrap下拉菜单点击不显示效果 -->
	<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<!-- toastr提示框 -->
	<link rel="stylesheet" href="../css/toastr.min.css">
	<script src="../js/toastr.min.js"></script>
    <script type="text/javascript">		// js初始化
        toastr.options.positionClass = 'toast-top-center';
    </script>
</head>
<body>
<div id="app">
	<div class="panel panel-default">
		<ol class="breadcrumb">
			<li>仓库管理员信息管理</li>
		</ol>
		<div class="panel-body">
			<div class="row">
				<form class="form-inline" style="margin-left: 10px;">
                    <div class="form-group">
                        <label class="form-label">管理员姓名：</label>
                        <input class="form-control" v-model="search_admin_name" placeholder="管理员姓名">
                    </div>
				</form>
				<form class="form-inline" style="margin-left: 10px;">
                    <div class="form-group">
                        <label class="form-label">所属分公司：</label>
                        <select class="form-control" v-model="search_adminBelongCompany" @change="change_search_adminBelongCompany($event)">
                            <option value="">所有分公司</option>
                            <option v-for="(value,key) in storeEnumList.companyType" :value="key" v-text="value"></option>
                        </select>
                    </div>
				</form>
				<form class="form-inline" style="margin-left: 10px;">
                    <div class="form-group">
                        <label class="form-label">所属部门：</label>
                        <select class="form-control" v-model="search_projectName" @change="change_search_projectType($event)">
                            <option value="">所有部门</option>
                            <option v-for="(value,key) in storeEnumList.projectType" :value="key" v-text="value"></option>
                        </select>
                    </div>
				</form>
				<button class="btn btn-success" @click="" style="margin-left: 10px;">
                    <span class="glyphicon glyphicon-search"></span><span>查询</span>
                </button>
			</div>

			<div class="row" style="margin-top: 25px">
				<div class="col-md-5 col-sm-5">
					<button class="btn btn-sm btn-default" id="add_repositoryAdmin" data-toggle="modal" data-target="#add_modal">
						<span class="glyphicon glyphicon-plus"></span> <span>添加仓库管理员信息</span>
					</button>
				</div>
				<div class="col-md-5 col-sm-5"></div>
			</div>

			<div class="row" style="margin-top: 30px">
				<div class="col-md-12 col-sm-12">
					<table id="repositoryAdminList" class="table table-striped table-bordered table-hover">
						<tr>
							<th>仓库管理员ID</th>
							<th>姓名</th>
							<th>性别</th>
							<th>所属分公司</th>
							<th>所属部门</th>
							<th>生日</th>
							<th>电话</th>
							<th>操作</th>
						</tr>
						<tbody>
							<tr v-for="item in repositoryAdminResult.list">
								<td v-text="item.id"></td>
								<td v-text="item.name"></td>
								<td v-text="item.sex"></td>
								<td v-text="item.adminBelongCompanyName"></td>
								<td v-text="item.projectName"></td>
								<td v-text="item.birth"></td>
								<td v-text="item.tel"></td>
								<td>
									<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edit_modal" @click="edit_admin(item.id,item.name)">编辑</button>
									<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteWarning_modal" @click="edit_delete(item.id)">删除</button>
								</td>
							</tr>
							<tr v-if="repositoryAdminResult.total==0"><td colspan="14">未查到数据</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 底部分页 -->
			<div class="row" v-show="repositoryAdminResult.total>0">
				<div class="col-sm-5 col-sm-offset-5">
					<ul class="pagination">
						<li><span v-bind:class="pageIndex==1?'btn disabled':'btn'"  @click="searchPrevious()" data-toggle="modal">&laquo;</span></li>
						<li v-bind:class="pageIndex==page?'active':''" v-for="page in page_data.pages">
							<span v-text="page" class="btn" @click="searchPageIndex(page)" data-toggle="modal"></span>
						</li>
						<li><span v-bind:class="pageIndex >= page_data.pages?'btn disabled':'btn'"  @click="searchNext()" data-toggle="modal">&raquo;</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 添加仓库管理员信息模态框 -->
	<div id="add_modal" class="modal fade" table-index="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加仓库管理员信息</h4>
				</div>
				<div class="modal-body">
					<!-- 模态框的内容 -->
					<div class="row">
						<div class="col-md-1 col-sm-2"></div>
						<div class="col-md-8 col-sm-8">
							<form class="form-horizontal" role="form" style="margin-top: 25px">
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>仓库管理员姓名：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" v-model="addRepositoryAdminObject.name" placeholder="仓库管理员姓名">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>仓库管理员性别:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select name="" class="form-control" v-model="addRepositoryAdminObject.sex" @change="change_addmodal_sex($event)">
											<option value="">选择性别</option>
											<option value="男">男</option>
											<option value="女">女</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>所属角色:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select class="form-control" v-model="addRepositoryAdminObject.roleId" @change="change_addmodal_roleType($event)">
											<option value="">选择角色</option>
											<option v-for="(value,key) in storeEnumList.roleType" :value="key" v-text="value"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>所属分公司:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select class="form-control" v-model="addRepositoryAdminObject.adminBelongCompany" @change="change_addmodal_adminBelongCompany($event)">
											<option value="">选择分公司</option>
											<option v-for="(value,key) in storeEnumList.companyType" :value="key" v-text="value"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>所属项目部:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select class="form-control" v-model="addRepositoryAdminObject.projectName" @change="change_addmodal_projectType($event)">
											<option value="">选择项目部</option>
											<option v-for="(value,key) in storeEnumList.projectType" :value="key" v-text="value"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>联系电话：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" v-model="addRepositoryAdminObject.tel" placeholder="联系电话">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>联系地址：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" v-model="addRepositoryAdminObject.address" placeholder="联系地址">
									</div>
								</div>
								<div class="form-group">
									<label for="BirthDate" class="control-label col-md-5 col-sm-5"> 
										<span>出生日期:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input class="form_date form-control" v-model="addRepositoryAdminObject.birth" placeholder="出生日期">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">
						<span>取消</span>
					</button>
					<button class="btn btn-success" type="button" @click="addRepositoryAdmin()">
						<span>提交</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 删除提示模态框 -->
	<div class="modal fade" id="deleteWarning_modal" table-index="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">警告</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-3 col-sm-3" style="text-align: center;">
							<img src="../media/icons/warning-icon.png" alt=""
								style="width: 70px; height: 70px; margin-top: 20px;">
						</div>
						<div class="col-md-8 col-sm-8">
							<h3>是否确认删除管理员：<span v-text="delete_row_name"></span></h3>
							<p>(注意：若该仓库管理员已经指派管理的仓库，则该仓库管理员信息将不能删除成功。如需删除该客户的信息，请先解除该仓库管理员的指派)</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">
						<span>取消</span>
					</button>
					<button class="btn btn-danger" type="button" @click="delete_confirm()">
						<span>确认删除</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 编辑仓库管理员信息模态框 -->
	<div id="edit_modal" class="modal fade" table-index="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">编辑仓库管理员信息</h4>
				</div>
				<div class="modal-body">
					<!-- 模态框的内容 -->
					<div class="row">
						<div class="col-md-8 col-sm-8 col-sm-offset-1">
							<form class="form-horizontal" role="form" style="margin-top: 25px">
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>仓库管理员姓名：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" placeholder="仓库管理员姓名">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>仓库管理员性别:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select name="" class="form-control">
											<option value="男">男性</option>
											<option value="女">女性</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>联系电话：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" placeholder="联系电话">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>联系地址：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input type="text" class="form-control" placeholder="联系地址">
									</div>
								</div>
								<div class="form-group">
									<label for="BirthDate" class="control-label col-md-5 col-sm-5"> 
										<span>出生日期:</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<input class="form_date form-control" value="" placeholder="出生日期">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-5 col-sm-5"> <span>所属仓库ID：</span>
									</label>
									<div class="col-md-7 col-sm-7">
										<select name="" class="form-control">
											<option value=""></option>
										</select>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">
						<span>取消</span>
					</button>
					<button class="btn btn-success" type="button" id="edit_modal_submit">
						<span>确认更改</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 引入vue -->
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>
	const app = new Vue({
		el:"#app",
		data:{
			token:'',
			adminName:'',
			// 分页参数
            pageIndex:1,
            pageSize:10,
            page_data:[],		//包含总页数，当前页数，页面显示条数等
			repositoryAdminID:'',
			storeEnumList:[],		//下拉枚举
			repositoryAdminResult:[],
			addRepositoryAdminObject:{
				address:'',
				adminBelongCompany:'',
				birth:'',
				name:'',
				projectName:'',
				roleId:'',
				sex:'',
				tel:'',
			},
			// 条件查询参数
			search_admin_name:'',
			search_adminBelongCompany:'',
			search_projectName:'',
			delete_row_id:"",
			delete_row_name:"",
		},
		methods: {
			getStoreEnum(){		//获取下拉枚举值
                axios.post("http://localhost:8080/SMS/enums/storeEnum",{operateNo:"1001", traceLogId:"111111"},{headers: {'token': this.token}}).then(res =>{
                    console.log(res)
                    this.storeEnumList = res.data.result;
                });
            },
			selectListByCondition(){	//查询所有管理员列表
				axios.post("http://localhost:8080/SMS/store/selectListByCondition",{operateNo:"1001", traceLogId:"111111",pageIndex:this.pageIndex,
				pageSize:this.pageSize},{headers: {'token': this.token}}).then(res=>{
					console.log(res)
					this.repositoryAdminResult = res.data.result;
					this.page_data = res.data.result;
				})
			},
			addRepositoryAdmin(){	//添加管理员
				axios.post("http://localhost:8080/SMS/store/addRepositoryAdmin",{operateNo:"1001", address:this.addRepositoryAdminObject.address,
				adminBelongCompany:this.addRepositoryAdminObject.adminBelongCompany,birth:this.addRepositoryAdminObject.birth,name:this.addRepositoryAdminObject.name,
				projectName:this.addRepositoryAdminObject.projectName,roleId:this.addRepositoryAdminObject.roleId,sex:this.addRepositoryAdminObject.sex,
				tel:this.addRepositoryAdminObject.tel,traceLogId:"111111",pageIndex:this.pageIndex,
				pageSize:this.pageSize},{headers: {'token': this.token}}).then(res=>{
					console.log(res)
					if(res.data.success == true){
						$('.modal').map(function () {
							if (!$(this).is(":hidden")){
								$(this).modal('hide');
							}
                		});
						toastr.success("添加成功！");
						this.selectListByCondition();
					}else{
						toastr.error(res.data.errorMsg);
					}
				})
			},
			//顶部查询的下拉change方法
			change_search_adminBelongCompany(event){
				this.search_adminBelongCompany = event.target.value;
				console.log(this.search_adminBelongCompany)
            },
			change_search_projectType(event){
				this.search_projectName = event.target.value;
				console.log(this.search_projectName)
			},
			//添加管理员模态框中下拉change方法
			change_addmodal_adminBelongCompany(event){
				this.addRepositoryAdminObject.adminBelongCompany = event.target.value;
				console.log(this.addRepositoryAdminObject.adminBelongCompany)
            },
			change_addmodal_projectType(event){
				this.addRepositoryAdminObject.projectName = event.target.value;
				console.log(this.addRepositoryAdminObject.projectName)
			},
			change_addmodal_roleType(event){
				this.addRepositoryAdminObject.roleId = event.target.value;
				console.log(this.addRepositoryAdminObject.roleId)
			},
			change_addmodal_sex(event){
				this.addRepositoryAdminObject.sex = event.target.value;
				console.log(this.addRepositoryAdminObject.sex)
			},
			// 编辑管理员信息
			edit_admin(id){

			},
			//删除管理员
            edit_delete(id,name){
				this.delete_row_id = id;
				this.delete_row_name = name;
				console.log(this.delete_row_id)
            },
            delete_confirm(){
                axios.post("http://localhost:8080/SMS/store/deleteRepositoryAdmin",{id:this.delete_row_id, operateNo:"1001",traceLogId:"11111"},{headers: {'token': this.token}}).then(res=>{
					console.log(res);
					if (res.data.success == true) {
						toastr.success("删除成功！")
					} else {
						toastr.error(res.data.errorMsg)
					}
                })
            },
			// 分页查询
            searchPrevious(){
                if (this.pageIndex > 1) {
                    this.pageIndex -= 1;
                    this.selectListByCondition()
                }
            },
            searchNext(){
                if (this.pageIndex < this.page_data.pages) {
                    this.pageIndex += 1;
                    this.selectListByCondition()
                }
            },
            searchPageIndex(page){
				if(this.pageIndex != page){
					this.pageIndex = page;
					this.selectListByCondition()
				}
            },
		},
		created() {
			this.token = parent.window.document.getElementById("myiframe").getAttribute("value");
			this.getStoreEnum();
			this.selectListByCondition();
		},
	});
</script>
</body>
</html>