<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet"  href="../css/bootstrap-table.css">
    <link rel="stylesheet"  href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"  href="../css/mainPage.css">
</head>
<body>
<!-- 初始密码修改框 -->
<div class="panel panel-default" id="app">
	<ol class="breadcrumb">
		<li>修改密码</li>
    </ol>
    <div class="panel-body">
        <div class="container">
            <div class="row" style="margin-top: 25px">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">

                    <form action="" class="form-horizontal" role="form" id="form">
                        <div class="form-group">
                            <label for="" class="control-label col-md-4 col-sm-4"> 用户ID: </label>
                            <div class="col-md-6 col-sm-6">
                                <p class="form-control-static" v-text="userId"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-4 col-sm-4"> 输入原密码: </label>
                            <div class="col-md-6 col-sm-6">
                                <input type="password" class="form-control" v-model="oldPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="control-label col-md-4 col-sm-4"> 输入新密码: </label>
                            <div class="col-md-6 col-sm-6">
                                <input type="password" class="form-control" v-model="newPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="control-label col-md-4 col-sm-4"> 确认新密码: </label>
                            <div class="col-md-6 col-sm-6 has-feedback">
                                <input type="password" class="form-control" v-model="newPassword_re">
                            </div>
                        </div>
                        <input id="reset" type="reset" style="display:none">
                    </form>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">
                    <div class="alert alert-info" style="margin-top: 25px">
                        <p>登录密码修改规则说明：</p>
                        <p>1.密码长度为6~16位，至少包含数字、字母、特殊符号中的两类，字母区分大小写</p>
                        <p>2.密码不可与账号相同</p>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>
            <div class="row">
                <button class="btn btn-success col-md-offset-6" @click="update_password()">
                    <span>确定修改</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>

<script>
    const app = new Vue({
        el:"#app",
        data:{
            userId:"",
            oldPassword:"",
            newPassword:"",
            newPassword_re:"",
            token:{},
        },
        methods: {
            update_password(){
                axios.post("http://59.74.48.24:8080/SMS/account/passwordModify",{userID:this.userId,oldPassword:this.oldPassword,
                newPassword:this.newPassword,rePassword:this.newPassword_re,traceLogId:this.traceLogId},{headers: {'token': this.token}}).then(res =>{
                    console.log(res)
                    if (res.data.success == true) {
                        alert("修改密码成功！")
                    } else {
                        alert(res.data.errorMsg)
                    }
                })
            }
        },
        created () {
            this.token = parent.window.document.getElementById("myiframe").getAttribute("value");
            this.userId = parent.window.document.getElementById("myiframe").getAttribute("userId");
        }
    });
</script>
</body>
</html>